/* ==========================================================================
   Generic
   ========================================================================== */

   html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ==========================================================================
   Base
   ========================================================================== */

   body{
    background-color: #07020d;
    color: #fff;

    font: 1.125rem 160% "Frank Ruhl Libre", serif ;
    
   }

/* ==========================================================================
   Mise en page
   ========================================================================== */
   .wrapper{
    max-width: 1280px;
    margin: 0 auto;
   }
/* ==========================================================================
   Element / typographie
   ========================================================================== */
   a{
    text-decoration: none;
   }
/* ==========================================================================
   Components
   ========================================================================== */
   .header{
    color: #07020d;
   }
   .header .wrapper{
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
   }
